<!DOCTYPE html>
<html>
<body>
<h1>Doing the groundwork</h1>
<p>Here we can talk about collecting data and our brainstorming process for the project</p>
<h1>Laying the foundation</h1>
<p>Here we can talk about setting up rails and why we chose mysql, etc.</p>
<h1>Overcoming the complications</h1>
<p>Here we can talk about all of the random issues we made that we learned from, like spelling mistakes lol</p>
</body>
</html>