// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teams {

	table {
		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		vertical-align: top;
		text-align: center;
	}

	table thead {
		background: #a5bfd9;
		border-bottom: 1px solid;
	}

	table thead th {
		padding-right: 20px;
	}

	.list_line_even {
		color: #000000;
		background: #bbeeff;
	}

	.list_line_odd {
		color: #000000;
		background: #eebbff;
	}
}